
/* General */
:root {
    --color-text: #fff;
    --color-1: #1c202c;
    --color-2: #08101f;
    --color-dark: #020913;
    --color-bg: #0a0a09;

    --font-roboto: "Roboto";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
  }

html {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Navbar */
.navbar {
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    margin: 5% 10%;
  }

  .title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
  }

  .menuBtn {
    display: none;
  }

  .menu {
    display: flex;
  }

  .menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
  }

  .menuItems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
  }

  a, li {
    transition: transform 0.3s;
  }

  a:hover {
    transform: scale(1.15);
  }

  li:hover {
    transform: scale(1.15);
  }

  @media screen and (max-width: 830px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }

    .title {
      transform: scale(0.7);
    }
  
    .menu {
      position: absolute;
      right: 0;
      margin-right: 10%;
      flex-direction: column;
      align-items: flex-end;
      gap: 11px;
      z-index: 3;
    }
  
    .menuBtn {
      display: block;
      cursor: pointer;
    }
  
    .menuItems {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 13px;
      border-radius: 10px;
      background: rgb(56, 56, 56);
      background: linear-gradient(
        0deg,
        rgba(19, 19, 19, 0.2) 0%,
        rgb(73, 73, 73) 100%
      );
      padding: 24px 33px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }
  
    .menuOpen {
      display: flex;
      z-index: 1;
    }
  }



  /* Hero */

  .hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .heroImg {
    display: flex;
    width: 75%;
    height: auto;
    z-index: 1;
  }
  
  .topBlur,
  .bottomBlur {
    position: absolute;
    width: 45vw;
    height: 45vw;
    /* min-width: 350px;
    min-height: 350px; */
    border-radius: 50%;
    filter: blur(100px); 
    z-index: 0; 
  }
  
  .topBlur {
    top: 0;
    left: 0;
    background: rgba(67, 34, 20, 0.7);
  }
  
  .bottomBlur {
    bottom: 0;
    right: 0;
    background: rgba(117, 100, 50, 0.7);
  }

  @media screen and (max-width: 830px) {
    .container {
      flex-direction: column-reverse;
    }

    .content {
      align-items: center;
    }
  }



  /* Work */

  .work-container {
    height: 100vh;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.work-title {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    height: 75vh;
    overflow-x: scroll;
}

.carouselimage {
    flex: 0 0 auto;
    height: 50vh;
    width: auto;
    margin-right: 30px;
    margin-left: 55px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(219, 224, 192);
    cursor: pointer;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 0.45s ease;
    color: #fff;
    z-index: 1;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.window:hover {
    transform: scale(1.05);
}

  @media screen and (max-width: 830px) {
    .container {
      flex-direction: column-reverse;
    }

    .work-content {
      align-items: center;
    }
  }



  /* Contact */

  .contact-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    color: var(--color-text);
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    padding: 58px 10%;
    gap: 10px;
    overflow-wrap: hidden;
    z-index: 1;
  }
  
  .iconimg {
    height: 5vh;
    z-index: 1;
  }
  
  .mailicon {
    margin-left: -7.5px;
  }
  
  .contact-text h2 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
    z-index: 3;
  }
  
  .contact-text p {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    z-index: 1;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
    z-index: 1;
  }
  
  .link {
    display: flex;
    align-items: center;
    gap: 25px;
    z-index: 1;
  }
  
  .link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
    z-index: 1;
  }
  
  @media screen and (max-width: 830px) {
    .contact-container {
      flex-direction: column;
      gap: 23px;
      width: 75vw;
      align-items: center;
    }

    .contact-text {
      transform: scale(0.7);
      padding-left: 50%;
    }

    /* .contact-text h2 {
      font-size: 55px;
      font-weight: 500;
      letter-spacing: 3px;
      z-index: 3;
    }

    .contact-text p {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      font-size: 20px;
      font-weight: 200;
      letter-spacing: 2px;
      z-index: 1;
    } */

    .links {
      align-items: center;
      transform: scale(0.7);
    }
  }